<%- include(`./partials/header.ejs`) %>

<div class="container d-flex flex-column gap-3 align-items-start">
    <h1 class="display-6">O que deseja?</h1>
    <a href="/question/1" class="btn btn-dark">Consultar os 5 itens com maior consumo nos atendimentos</a>
    <a href="/question/2" class="btn btn-dark">Em determinados períodos, o Dr. Magnovaldo  precisa gerar relatórios com todos atendimentos e valores, pesquisando sempre por um período**</a>
    <a href="/question/3" class="btn btn-dark">Consultar todos os pacientes que tiveram **reação alérgica grave** como evolução</a>
    <a href="/data/itens-disponiveis" class="btn btn-dark">Doutor precisa saber quais itens tem cadatrado no sistema.</a>
</div>

<%- include(`./partials/footer.ejs`) %>