<%- include(`./partials/header.ejs`) %>

<!-- TODO: Criar um relatório por atendimento: Valores dos itens, data + Evolução -->

<div class="container my-3 d-flex flex-column gap-3 align-items-start">
    <h1 class="display-6"> <span class="bi bi-map"></span> Guia rápido</h1>
    <a href="/question/1" class="btn btn-dark">Consultar os 5 itens com maior consumo nos atendimentos</a>
    <a href="/question/2" class="btn btn-dark">Em determinados períodos, o Dr. Magnovaldo  precisa gerar relatórios com todos atendimentos e valores, pesquisando sempre por um período**</a>
    <a href="/question/3" class="btn btn-dark">Consultar todos os pacientes que tiveram **reação alérgica grave** como evolução</a>
    <a href="/data/itens-disponiveis" class="btn btn-dark">Doutor precisa saber quais itens tem cadatrado no sistema.</a>
    <a href="/form/nova-evolucao" class="btn btn-dark">Cadastrar novas Evoluções</a>
    <a href="/form/novo-atendimento" class="btn btn-dark">Cadastrar novos Atendimentos</a>
</div>

<%- include(`./partials/footer.ejs`) %>