img[src="/logo.png"] {
    height: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.btn {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar {
    position: sticky;
    top: 0;
}

@media(min-width: 576px) { /* SM BREAKPOINT */
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 768px) { /* MD BREAKPOINT */
    .grid.grid-c3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 992px) { /* LG BREAKPOINT */

}

@media(min-width: 1200px) { /* XL BREAKPOINT */

}
