<%- include(`../partials/header.ejs`) %>

<div class="container my-3">
    <div class="bg-body-tertiary rounded p-3 border d-flex flex-column gap-3">
        <h3 class="fs-3 text-center my-0">O que deseja acessar?</h3>
        <hr class="my-0">
        <div class="grid grid-c3">
            <a href="/data/pacientes" class="btn btn-dark w-100">Pacientes</a>
            <a href="/data/atendimentos" class="btn btn-dark w-100">Atendimentos</a>
            <a href="/data/lancamentos" class="btn btn-dark w-100">Lançamentos</a>
            <a href="/data/itens-disponiveis" class="btn btn-dark w-100">Itens disponíveis</a>
            <a href="/data/evolucoes" class="btn btn-dark w-100">Evolução dos pacientes</a>
        </div>
    </div>
</div>

<%- include(`../partials/footer.ejs`) %>